.question {
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid grey;
  width: 100%;
  a {
    color: blue;
  }
  .tags {
    display: flex;
    .tag {
      flex-grow: 1;
      margin-left: 10px;
    }
    .tag:first-child {
      margin: 0 0;
    }
  }
}
