.back-btn {
  width: 100%;
  margin-bottom: 10px;
  button {
    height: 52px;
    background-color: blue;
    color: white;
  }
  button:hover {
    height: 52px;
    color: blue;
    background-color: white;
  }
}
