.input {
  border-radius: 8px;
  font-size: 20px;
  padding: 10px 15px;
  border: 1px solid grey;
  transition: all 0.3s ease;
  width: 100%;
}
.input:focus {
  outline: none;
  border: 1px solid blue;
}
.input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
